[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3-stubs = {extras = ["lambda"], version = "*"}

[dev-packages]
black = "*"
flake8 = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
isort = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
